@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: #235fa8;
  --color2: #304f75;
  --color3: #0264db;
  --color4: #283442;
  --color5: #292e33;
}
html {
  font-size: 62.5%;
}
body {
    height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: linear-gradient(
    111.4deg,
    rgba(7, 7, 9, 1) 6.5%,
    rgba(27, 24, 113, 1) 93.2%
  );
  padding: 0 10px;
}