@import url(/root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.box-text {
    margin-top: 20px;
}

.text-title {
    color: var(--primaryColor);
    font-size: 4em;
    width: 350px;
}

.createSvg {
    width: 300px;
    height: 270px;
}

.form {
    width: 350px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-form {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-group-check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin: 10px 0;
}

.checkbox {
    width: 25px;
}

.text-checkbox {
    font-size: 1.7em;
}

.text-checkbox>a {
    color: var(--primaryColor);
}

label {
    color: var(--primaryColor);
    font-size: 2.5em;
    cursor: pointer;
}

input {
    width: 300px;
    height: 40px;
    font-size: 2em;
    padding-left: 10px;
    color: var(--secondColor);
    border: 1px solid var(--bgColorText);
    outline: none;
}

.btn-register {
    background-color: var(--primaryColor);
    color: var(--bgColor);
    font-size: 1.7em;
    text-transform: uppercase;
    width: 300px;
    height: 40px;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 0 5px 0 gray;
}

.btn-register:hover {
    background-color: var(--primaryColorHover);
}

.btn-register:active {
    background-color: var(--primaryColorActive);
    box-shadow: 0 3px 0 gray;
    transform: translateY(2px);

}

.text-login {
    font-size: 1.6em;
}

.text-login>a {
    color: var(--primaryColor);
}

@media screen and (max-width:715px) {
    .box-text {
        display: none;
    }
}

@media screen and (max-width:332px) {
    .content-account {
        width: 250px;
        margin: 0 auto;
    }

    .form-group {
        font-size: 0.8em;
    }

    .form-group,
    .form-group>input,
    label,
    .box-btn,
    .btn-register,
    .text-login {
        width: 250px;
    }
}